
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form id="otpForm" method="POST" action="/user/login">
           <label>Username</label> <input type="text" name="userEmail" /><br />
            <label>Password</label><input type="password" name="userPassword"  />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
