




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form id="sendotp" method="POST" action="/user/sendotp">
            <label>enter mobile</label> <input type="text" name="Mobileno" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>




