
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form id="verify" method="POST" action="/user/matchotp">
            <label>enter otp</label> <input type="text" name="userotp" /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>